<!doctype html>
<html>
    <head>
        <style>
            .error { color: red; }
        </style>
    </head>
    <body>
    <h1>New Post</h1>
        <form method='POST'>
            <table>
                <tr>
                    <td><label for="title">Title</label></td>
                    <td>
                        <input name="title" type="text" value='{{title}}'/> 
                        <span class="error">{{title_error}}</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="body">Body</label></td>
                    <td>
                        <textarea name="body" value='{{body}}'></textarea>
                        <span class="error">{{body_error}}</span>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>